<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<header class="header">
    <nav>
        <ul class="nav_list">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">MESSAGES</a></li>
        </ul>
    </nav>
</header>
<body>
    <section class="hero">
        <h1>Welcome to Flaskers!</h1>
        <p>I really need to understand this shit in a few days... Flask and whatnot</p>
        <a class="button" href="/about">What?</a>
    </section>
</body>

<footer class="footer">
    <p>delevoped by <a href="https://github.com/caioabrahao">caio abrahão</a>, btw</p>
</footer>
</html>