<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send a Message!</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<header class="header">
    <nav>
        <ul class="nav_list">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">MESSAGES</a></li>
        </ul>
    </nav>
</header>

<body class="body">
    <h1>SEND A MESSAGE!</h1>
    <p>The message will be displayed in the message mural!</p>

</body>

<footer class="footer">
    <p>delevoped by <a href="https://github.com/caioabrahao">caio abrahão</a>, btw</p>
</footer>
</html>